body{
  background-image: url("/static/css/fotok.jpg");
}
header{
  background-color: rgba(92, 82, 58, 0.5);
  height: 100px;
  display: flex;
  justify-content: center;
  font-family: "Nav";
}
.external{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
 
}
article{
 width: 300px;
 border: solid;
 border-color: rgb(4, 36, 71);
 border-radius: 10px;
 background-color: rgb(147, 147, 240);
 text-align: center;
 box-shadow: 5px 5px 5px 0px rgba(58, 4, 4, 0.5);

}
.title{
 color: rgb(41, 41, 111);
}

img{
  height: 200px;
  width: 200px;
}